.proyectos-containers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  justify-content: center;
  color: var(--text-primary-color);
  transition: 0.5s ease all;

  .proyect_card {
    width: 430px;
    margin: 30px 20px;
    overflow: hidden;
    transition: 0.5s ease all;
    border-radius: 10px;


    .redirect_proyecto {
      &:hover {
        .top {
          .t_link {
            .icons {
              .icons-container {
                display: flex;
                transform: translateX(0);
              }
            }
          }
        }

        .bottom {
          img {
            transform: scale(1.08);
          }
        }
      }

      .top {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;

        .t_link {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 20px;
          border-bottom: 1px solid #1d3869;

          p {
            font-size: 25px;
          }

          .icons {
            display: flex;
            overflow: hidden;
            color: var(--secondary-color);
            position: relative;
            width: 35px;

            .icons-container {
              display: flex;
              transform: translateX(-75px);
              transition: 0.5s ease;

              .more-icon {
                font-size: 30px;
              }

              .main-icon {
                margin-left: 42px;
              }
            }
          }
        }

        .category {
          display: flex;
          justify-content: start;
          width: 100%;
          margin-top: 15px;
          margin-bottom: 15px;
          align-items: center;

          .category-title {
            font-size: 15px;
            font-weight: bold;
            margin-right: 25px;
          }

          .category-name {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .bottom {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 420px;

        img {
          width: 100%;
          height: 100%;
          transition: 0.5s ease;
          object-fit: cover;
          /* Hace que la imagen se ajuste al contenedor sin dejar espacios */
          object-position: center;
        }

        .blur {
          width: 110%;
          height: 110%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -52%);
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.657) 20.78%, rgba(0, 0, 0, 0) 69.98%);
        }

        .info {
          border-top: 1px solid rgba(255, 255, 255, 0.3);
          padding-top: 10px;
          display: flex;
          justify-content: space-between;
          width: 90%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 200%);
          /* Ajusta para centrar completamente */

          .lista {
            display: flex;

            .icon {
              color: white;
              font-size: 25px;
            }

            .text-dato {
              margin-left: 10px;
              color: white;
              font-size: 15px;

              .title {
                font-weight: bolder;
              }
            }
          }

          .tipo_lista {
            display: flex;
            justify-content: end;
            max-width: 250px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1669px) {
  .proyectos-containers {
    .proyect_card {
      width: 380px;

      .redirect_proyecto {
        &:hover {
          .top {
            .t_link {
              .icons {
                .icons-container {
                  display: flex;
                  transform: translateX(0);
                }
              }
            }
          }
        }

        .top {
          .t_link {
            p {
              font-size: 25px;
            }

            .icons {
              .icons-container {
                .more-icon {}

                .main-icon {}
              }
            }
          }

          .category {
            .category-title {}

            .category-name {}
          }
        }

        .bottom {
          .info {
            transform: translate(-50%, 200%);

            .lista {
              display: flex;

              .icon {
                color: white;
                font-size: 25px;
              }

              .text-dato {
                margin-left: 10px;
                color: white;

                .title {
                  font-weight: bolder;
                  font-size: 13px;
                }

                .dato {
                  font-size: 11px;
                }
              }
            }

            .tipo_lista {
              display: flex;
              justify-content: end;
              width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 489px) {
  .proyectos-containers {
    .proyect_card {
      width: 320px;

      .redirect_proyecto {
        &:hover {
          .top {
            .t_link {
              .icons {
                .icons-container {
                  display: flex;
                  transform: translateX(0);
                }
              }
            }
          }
        }

        .top {
          .t_link {
            padding-bottom: 15px;

            p {
              font-size: 20px;
            }

            .icons {
              .icons-container {
                .more-icon {}

                .main-icon {}
              }
            }
          }

          .category {
            margin-top: 10px;
            margin-bottom: 10px;

            .category-title {
              font-size: 12px;
            }

            .category-name {}
          }
        }

        .bottom {
          height: 350px;

          .info {
            transform: translate(-50%, 200%);

            .lista {
              display: flex;

              .icon {
                color: white;
                font-size: 25px;
              }

              .text-dato {
                margin-left: 10px;
                color: white;

                .title {
                  font-weight: bolder;
                  font-size: 10px;
                }

                .dato {
                  font-size: 9px;
                }
              }
            }

            .tipo_lista {
              display: flex;
              justify-content: end;
              width: 180px;
            }
          }
        }
      }
    }
  }
}