.container_mision_vision {
    display: flex;
    width: 90%;
    align-items: stretch;
    justify-content: space-between;
    color: var(--text-primary-color);
    margin-top: 50px;
    margin-bottom: 50px;
    .card {
        max-width: 50%;
        padding: 20px;
        transition: 0.5s ease;
        .icon {
            font-size: 25px;
        }

        .titulo {
            font-size: 22px;
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .info {
            font-size: 17px;
        }
    }
    .mision {
        padding-left: 50px;
        border-left: 1px solid #1d3869;
    }
    .vision {
        padding-right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .container_mision_vision {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 20px;
        .card {
            max-width: 100%;
            .icon {
                font-size: 25px;
            }

            .titulo {
                font-size: 18px;
                font-weight: bold;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            .info {
                font-size: 15px;
            }
        }
        .mision {
            padding-top: 50px;
            border-top: 1px solid #1d3869;
            padding-left: 20px;
            border-left: none;

        }
        .vision {
            padding-bottom: 50px;
            padding-right: 20px;
        }
    }
}
