.sostenibilidad-cards-detalle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary-color);
    margin-top: 50px;
    align-items: stretch;
    margin-bottom: 25px;

    a {
        flex: 1;
        max-width: 100%;
        min-height: 250px;
        background: #101F3B;
        padding: 35px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .more-icon-mobile{
            font-size: 1.5rem;
            margin-bottom: 15px;
        }
        .more-icon{
            font-size: 1.5rem;
            color: var(--secondary-color);
        }
        .contador {
            color: var(--secondary-color);
            margin-bottom: 15px;
            font-size: 25px;
            font-weight: 700;
        }

        .titulo {
            font-size: 23px;
            font-weight: 600;
            margin-bottom: 15px;
        }

      
    }
}

@media screen and (max-width: 1200px) {
    .sostenibilidad-cards-detalle {
        flex-wrap: wrap;
        justify-content: space-between;

        a {
            max-width: 100%;
            flex: 0 1 calc(50% - 20px);
            /* Hace que cada figura ocupe 50% del contenedor menos el margen */
            margin-bottom: 20px;
            /* Añade un margen en la parte inferior para espacio entre filas */
            .titulo {
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .sostenibilidad-cards-detalle {
        a {
            flex: 0 1 calc(100% - 20px);
            /* Hace que cada figura ocupe el 100% del contenedor */
            margin-bottom: 20px;
            /* Espacio entre cada figure */
            min-height: 150px;
            .titulo {
                font-size: 15x;
                font-weight: 500;
            }
        }
    }
}