@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --secondary-color: #F42534;
  --text-primary-color: white;
  --font-size-base: 16px;
  --primary-font: "Poppins", serif;
  --navbar-bg: #15284b;
  --body-bg:#0A1426;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  background-color: var(--body-bg);
}