.proyectos-inicio {
  color: var(--text-primary-color);

  .left-pry {
    h3 {
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--secondary-color);
      text-transform: uppercase;
      letter-spacing: 2px;

      @media (max-width: 768px) {
        font-size: 0.8125rem;
      }
    }

    h1 {
      font-size: 30px;
      font-weight: 700;
      margin: 20px 0 20px 0;
    }
  }

  .right-pry {
    a {
      border: 1px solid var(--text-primary-color);
      padding: 10px 15px;
      &:hover {
        background-color: var(--text-primary-color);
        color: var(--body-bg);
        font-weight: 500;
        border: 2px solid var(--body-bg);
      }
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 1050px) {
  .proyectos-inicio {
    .top {
      .left-pry {
        h3 {
          font-weight: 500;
        }

        h1 {
          font-size: 21px;
          font-weight: 500;
        }
      }
      .right-pry {
        a {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .left-pry {
    h1 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 750px) {
  .proyectos-inicio {
    .top {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .left-pry {
      h3 {
        margin-top: 10px;
      }
      h1 {
        margin-top: 5px;
      }
    }
  }
}
